.mypage-container {
    width: 100%;
    margin: 25px auto;
}

.mypage-top {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 60px 0;
}

.mypage-img img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    background-color: #d9d9d9;
}

.mypage-info {
    display: flex;
    align-items: center;
    gap: 200px;
}

.edit-button {
    text-decoration: none;
    border: 1.5px solid #ff5555;
    color: #ff5555;
    padding: 3px 15px;
    border-radius: 5px;
    font-weight: bold;
}

.tab-menu {
    display: flex;
    justify-content: flex-start;
    border-bottom: 2px solid #5f5f5f;
    margin-bottom: 30px;
    padding-left: 50px;
}

.tab {
    padding: 10px 20px;
    text-decoration: none;
    color: #5f5f5f;
    font-weight: bold;
}

.tab.active {
    color: #ff0000;
}

.item-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
    justify-content: center;
    align-items: start;
    margin: 60px 50px 0 50px;
}

.item-card {
    width: 100%;
    border-color: #fff;
    border-radius: 8px;
}

.item-image {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 6px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 1px rgba(0, 0, 0, 0.1);
}

.item-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
