.sell-container {
    width: 40%;
    margin: 0 auto;
    text-align: center;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-label {
    font-weight: bold;
    text-align: left;
    margin-top: 1.5rem;
}

.image-upload-box {
    position: relative;
    width: 100%;
    height: 500px;
    border: 1.5px dashed #5f5f5f;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-preview {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-preview img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.upload-label {
    position: relative;
    z-index: 2;
    display: inline-block;
    padding: 5px 15px;
    color: #ff5655;
    border: 1.5px solid #ff5655;
    border-radius: 10px;
    font-weight: bold;
    background-color: #fff;
    cursor: pointer;
    transition: 0.2s;
}

.upload-label:hover {
    color: #fff;
    background-color: #ff5655;
}

.file-input {
    display: none;
}

.sub-title {
    text-align: left;
    border-bottom: 2px solid #5f5f5f;
    color: #5f5f5f;
    padding-bottom: 0.5rem;
    margin-top: 2rem;
}

.category-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 1rem 0 0;
}

.category-label {
    margin-bottom: 0.5rem;
}

.category-label input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.category-label span {
    display: inline-block;
    padding: 5px 15px;
    border: 1.5px solid #ff5655;
    border-radius: 20px;
    font-size: 0.7rem;
    color: #ff5655;
    cursor: pointer;
    transition: all 0.2s ease;
}

.category-label span:hover {
    color: #ff0000;
}

.category-label input[type="checkbox"]:checked + span {
    background-color: #ff5655;
    color: #fff;
}

.select-wrap {
    width: 100%;
}

select,
input,
textarea {
    width: 100%;
    padding: 8px 10px;
    border: 1px solid #5f5f5f;
    border-radius: 3px;
    background-color: #fff;
    color: #5f5f5f;
    font-size: 0.8rem;
    line-height: 1rem;
}

textarea {
    resize: none;
}

.price-input {
    position:relative;
    display: inline-block;
    width: 100%;
}

.price-input .yen-mark {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #000;
    font-size: 0.8rem;
    font-weight: bold;
    pointer-events: none;
}

.price-input input {
    padding-left: 24px;
}

.form__error {
    color: #ff5655;
    text-align: left;
}

.form-button {
    margin: 3rem auto;
    width: 100%;
    background-color: #ff5555;
    color: #fff;
    border-radius: 3px;
    border: none;
    line-height: 2rem;
    cursor: pointer;
}
