.verify-container {
    width: 60%;
    margin: 80px auto;
    text-align: center;
}

.verify-message {
    margin: 150px auto 50px;
    font-size: 1.2rem;
    font-weight: 500;
}

.verify-button {
    display: inline-block;
    background-color: #d9d9d9;
    color: #000;
    padding: 10px 30px;
    border-radius: 5px;
    text-decoration: none;
    margin-bottom: 50px;
    border: 1px solid #000;
    font-weight: 500;
    font-size: 1rem;
}

.resend-link {
    background: none;
    border: none;
    color: #0073cc;
    font-size: 1rem;
}
