html {
    scroll-behavior: smooth;
}

html,
body {
    width: 100%;
    overflow-x: hidden;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.header {
    width: 100%;
    background-color: #000;
}

.header__inner {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0.8rem 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

.header__center {
    flex: 2;
    display: flex;
    justify-content: center;
}

.header__right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.header__left img {
    height: 35px;
    display: block;
}

.search-form {
    width: 80%;
}

.search {
    width: 100%;
    min-width: 150px;
    padding: 0.2rem 0.5rem;
    border: none;
    border-radius: 3px;
    box-sizing: border-box;
    line-height: 1.6rem;
}

.search::placeholder {
    color: #000;
    opacity: 1;
}

.header__right nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 2rem;
    white-space: nowrap;
}

.logout-button__submit {
    border: none;
    background: none;
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
}

.logout-button__submit:hover {
    color: #ccc;
}

.header__right a {
    color: #fff;
    text-decoration: none;
}

.header__right a:hover {
    color: #ccc;
}

.header__right .sell-button {
    background-color: #fff;
    color: #000;
    padding: 0.2rem 1rem;
    border-radius: 3px;
    text-decoration: none;
    display: inline-block;
    transition: background 0.2s color 0.2s;
}

.header__right .sell-button:hover {
    background-color: #ddd;
    color: #000;
}
