.address-change-container {
    width: 40%;
    margin: 0 auto;
    text-align: center;
}

.form-group {
    display: flex;
    flex-direction: column;
}

label {
    text-align: left;
    font-weight: bold;
    margin-top: 30px;
}

input {
    line-height: 1.5rem;
    border: 1px solid #5f5f5f;
    border-radius: 3px
}

.form__error {
    text-align: left;
    color: #ff5555;
}

.update-button__submit {
    width: 100%;
    line-height: 2rem;
    margin-top: 50px;
    background-color: #ff5555;
    color: #fff;
    border: none;
    border-radius: 3px;
    font-weight: bold;
}
