.purchase-cancel {
    width: 70%;
    margin: 100px auto;
    text-align: center;
}

.primary-button {
    text-decoration: none;
    background-color: #0073cc;
    color: #fff;
    padding: 10px 20px;
    border-radius: 4px;
    display: inline-block;
    cursor: pointer;
}

.primary-button:hover {
    background-color: #005fa3;
}
