.purchase-container {
    width: 85%;
    margin: 40px auto;
    gap: 100px;
}

.purchase-flex {
    display: flex;
    justify-content: space-between;

}

.purchase-left {
    width: 65%;
}

.item-info {
    border-bottom: 1px solid #000;
    padding-bottom: 30px;
}

.item-content {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.item-image img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-color: #d9d9d9;
    border-radius: 3px;
}

.item-detail {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.item-name {
    font-size: 1.8rem;
    font-weight: bold;
    margin: 0 0 0 50px;
}

.item-price {
    font-size: 1.5rem;
    margin: 10px  0 0 50px;
}

.item-price span {
    font-size: 1.8rem;
    margin-left: 5px;
}

.payment-method {
    padding: 20px 20px 50px 20px;
    border-bottom: 1px solid #000;
}

.payment-method h2 {
    margin: 0;
    font-size: 1.2rem;
}

.payment-method select {
    width: 200px;
    height: 25px;
    border-radius: 5px;
    margin: 20px 0 0 70px;
    color: #5f5f5f;
}

.shipping-address {
    padding-bottom: 20px;
    border-bottom: 1px solid #000;
}

.address-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.address-header h2 {
    margin: 0;
    font-size: 1.2rem;
}

.address-header a {
    text-decoration: none;
    color: #0073cc;
}

.address-area {
    margin: 10px auto;
}

.postal-code,
.address {
    padding: 0 0 0 75px;
    margin: 0;
}


.form__error {
    margin-left: 75px;
    color: #ff5555;
}

.purchase-summary {
    width: 30%;
}

.summary-box {
    height: 180px;
    border: 1px solid #000;
}
.summary-row {
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 50px;
    border-bottom: 1px solid #000;
}

.summary-row:last-child {
    border-bottom: none;
}

.value {
    font-size: 1.2rem;
    font-weight: 400;
}

.purchase-button {
    width: 100%;
    margin-top: 55px;
    line-height: 2rem;
    background-color: #ff5555;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
